.title1 {
    font-size: 4rem;

    color: rgb(99, 215, 254);
    text-shadow: 3px 3px 7px darkblue;
}
.title2 {
    font-size: 4rem;

    color: rgb(99, 215, 254);
    text-shadow: 3px 3px 7px rgb(139, 0, 0), 5px 5px 15px green;
}
.title3 {
    font-size: 4rem;

    color: rgb(107, 254, 99);
    box-shadow: 6px 3px 5px rgb(29, 140, 23);
    display: inline-block;
    padding: 5px;
}
