nav.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 15px 10px;
    background-color: rgb(153, 17, 151);
    display: none;
}

nav.menu button{
    display: block;

}
nav.menu:hover ul{
    display: inline-block;
    background-color: rgb(139, 157, 138);
    

}

nav.menu ul li a{
  text-decoration: none;
  
}
nav.menu ul li a:hover{
color: rgb(217, 231, 20); 
background-color: red;   
  }

